body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #5f2c82, #49a09d);
    /*background: url('./Images/dogBackground.jpg') no-repeat;*/
    z-index: -1;
    background-size: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}

#rules {
      display: flex;
      flex-direction: column;
      text-align: center;
}

#rules h1 {
      font-size: 70px;
      background-color: white;
      width: 550px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 470px;
      padding-bottom: 0;
      margin-bottom: 5px;
}

#rules h2 {
      font-size: 30px;
      color: white;
      background-color: black;
      width: 250px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 625px;
}

#game-aim {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 50px 70px 50px 50px;
        margin-left: 0;
}

#aim {
      width: 200px;
      height: 200px;
      background-color: black;
      color: white;
      border-radius: 50%;
      display: inline-block;
      display: flex;
      flex-direction: column;
      justify-content: center;

}

#aim h3 {
      padding-bottom: 0;
      margin-bottom: 0;
}

#start {
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#start h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#compare {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#compare h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#win {
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#win h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.dog-card {
    border: black 1px solid;
    width: 250px;
    margin: 10px;
    padding: 10px;
}



.dog-card li {
    list-style-type: none;
    text-align: center;
}

#player-cards, #comp-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container-title {
    text-align: center;
}


#hand {
    display: flex;
}



/*
  #score {

  }

#player-cards li {

}
  &:hover {
    background-color: lighten(black, 10%);
    cursor: pointer;
    cursor: hand;
  }

*/
