body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #5f2c82, #49a09d);
    /*background: url('./Images/dogBackground.jpg') no-repeat;*/
    z-index: -1;
    background-size: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}


#title {
      font-size: 70px;
      background-color: white;
      border-radius: 50%;
      padding-bottom: 0;
      margin: 20px 400px 0px 400px;
      display: flex;
      justify-content: center;
      align-items: center;
}

#all-minus-title {
    display: flex;
	justify-content: space-around;
	align-items: center;
}

#game-aim {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    text-align: center;
    padding: 0 10px;
}

#aim {
    width: 150px;
    height: 140px;
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);;
    color: black;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;

}

#aim h3 {
   padding-bottom: 0;
   margin-bottom: 0;
   font-size: 15px;
}

#aim p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
}

#start {
    width: 150px;
    height: 140px;
    background: linear-gradient(to left, #ef32d9, #89fffd);
    color: white;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

#start h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 15px;
}

#start p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
}

#compare {
    width: 150px;
    height: 140px;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: black;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

#compare h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 15px;
}

#compare p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
    width: 140px;
    padding-left: 5px;
}

#win {
    width: 150px;
    height: 140px;
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
    color: white;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#win h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 15px;
    margin-top: 0;
}

#win p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
    width: 130px;
    padding-left: 10px;
}



.play-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dog-card {
    border: black 1px solid;
    border-radius: 5%;
    background: linear-gradient(to left, #d38312, #a83279);
    width: 300px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 40px;
    
}

.dog-card li {
    list-style-type: none;
    text-align: center;
    padding-right: 30px;

}


#card-titles {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 0;

}

#hand {
    display: flex;
}



/*
  #score {

  }

#player-cards li {

}
  &:hover {
    background-color: lighten(black, 10%);
    cursor: pointer;
    cursor: hand;
  }

*/
